.Counter {
    background-color: black;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    margin: 1rem;
    font-size: 3rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color .75s;
}